# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.angular/

# Environment files
.env
.env.local
*.local

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

*.tsbuildinfo